@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap');

:root {
    --primary-text-color: #fff;
    --pinkish-text-color: #f85a8f;
    --faded-text-color: #65686b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* ***********************************
   common class
*********************************** */

.left-rignt-body-spacer {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
}

.padding-top-bottom {
    padding-top: 60px;
    padding-bottom: 60px;
}

.padding-top {
    padding-top: 30px;
}

.heading p {

    font-size: 42px;
    font-weight: bold;
    text-align: center;

}

.gray-background-color {
    background-color: #ecf1f7;
}

.paragraph p {
    text-align: center;

    padding-left: 320px;
    padding-right: 320px;
    font-size: 21px;
    color: rgb(177, 170, 170);
}

@media screen and (max-width:1482px) {
    .paragraph p {
        padding-left: 1px;
        padding-right: 1px;

    }

    .left-rignt-body-spacer {
        padding-left: 15px;
        padding-right: 15px;
    }

}

/* ***********************************
   NavBar section 
*********************************** */




.navbar-container {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.navbar-container .navbar-logo p {
    color: var(--primary-text-color);
    display: inline-block;
}

.navbar-container .navbar-logo .logo-bold-text {
    color: var(--primary-text-color);

    font-weight: 900;
    font-size: 35px;
}

.navbar-container .navbar-logo .logo-small-text {
    font-size: 13px;
    color: #dad0d0;

    font-weight: bold;

}

.navbar-container .hamburger {
    display: none;
    cursor: pointer;
}

.navbar-container .navbar-menu ul {
    display: flex;
    justify-content: center;

}

.navbar-container .navbar-menu ul li {
    list-style-type: none;
    margin: auto 20px;
}

.navbar-container .navbar-menu ul li a {
    text-decoration: none;
    color: #dad0d0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.navbar-container .navbar-menu ul li:nth-child(5) {

    border-left: 2px solid #d6d0d0;
}

.navbar-container .navbar-menu ul li:nth-child(7) {
    border-bottom: 2px solid var(--pinkish-text-color);
}

.navbar-menu #nav-dropdown {
    width:50px;
    outline: none;
    border: none;
    background-color:transparent;
    color: white;
}

.navbar-menu .dropdown i {
    color: white;
}

.toggle-navbar {
    display: block !important;
}

@media screen and (max-width:1300px) {
    .navbar-menu {
        transition: 2s ease-in;
        display: none;
    }

    .navbar-container .hamburger {
        display: block;
        color: white;
        font-size: 25px;
    }

    .navbar-container .navbar-menu {
        background-color: var(--pinkish-text-color);
        border-radius: 10px;
        position: absolute;
        right: 40px;
        top: 38px;
    }

    .navbar-container .navbar-menu ul {
        display: block;
    }

    .navbar-container .navbar-menu ul li {

        padding: 10px 6vw;
    }

    .navbar-container .navbar-menu ul li:nth-child(5) {
        display: none;
    }
}




/* ***********************************
   background image 
*********************************** */




.background-container {
 
    background-image: url(../img/city.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;

}




/* ***********************************
   Hero section 
*********************************** */


.hero {
    height: calc(93vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .big-text p {     
     display: inline-block;
    font-size: 3rem;
    text-align: center;
    color: var(--primary-text-color);
}
 
 
.main-button input[type="button"] {
    
    padding: 20px 22px;
    width: 20rem;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--pinkish-text-color);
    ;
    outline: none;
    border: none;
    border-radius: 30px;
    color: var(--primary-text-color);
}



/* ***********************************
   Our Mission  section all in common styles
*********************************** */






/* ***********************************
   Our People  section 
*********************************** */



.our-people-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 15px;
}

.our-people-card-container .card {
    width: 420px;
}

.card .card-heading {
    font-size: 20px;
    font-weight: bold;
    color: var(--faded-text-color);
}

.card .card-text {
    color: var(--faded-text-color);
    font-size: 18px;

}

.card .card-image img {
    width: 100%;
    object-fit: contain;
}

.card hr {
    margin-top: 20px;
}




/* ***********************************
       Obligation and contract   section 
    *********************************** */



.no-obligation-container {

    background-color: #fc568b;
}

.obligation {
    display: flex;
    justify-content:space-evenly;
    /* column-gap: 100px; */
    flex-wrap: wrap;

}
@media screen and (max-width:1267px){
    
.obligation .padding-top-bottom{
    padding-top: 10px;
    padding-bottom: 10px;
}
}

.no-obligation-container .obligation-text p {
    font-size: 30px;
    display: inline-block;
    padding-top: 11px;
    text-align: center;
}

.no-obligation-container input[type="button"] {
    background-color: #b84d6f;
}




/* ***********************************
       footer section 
    *********************************** */



.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-links ul li {
    list-style-type: none;
    padding: 10px 0;
}

.footer-links ul li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--faded-text-color);
}

.footer-links ul li:nth-child(1) a {
    font-weight: bold;
}

.footer-links ul li i {
    padding: 20px 15px 20px 0px;
    color: var(--faded-text-color);
    font-size: 40px;
}

footer hr {
    margin-top: 40px;

}

.copyright-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}